.contacto {
    margin-top: 6rem;
    @include media-breakpoint-up(lg) {
        margin-top: 10rem;
        margin-bottom: 6rem;
    }
    .formulario {
        text-align: right;
        padding-right: 30px; 
        color: $blue;
        text-transform: uppercase;
        .g-recaptcha{
            margin-left: 40%;
            margin-bottom: 1rem;
        }
        input[type="submit"]{
            color: $white;
            background-color: $blue50;
            @include  border-radius(100px);
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.75rem;
            margin-top: 20px;
            border: none;
            padding: 10px 30px 10px 30px;
            &:hover{
                background-color: $violet;
            }
        }
        .input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea{
            background-color: #fff;
            border: 1px solid $lightblue;
            @include border-radius(0px);
        }
    } 
    &__address__icon {
        margin-right: 0.625rem;
        color: $darkblue;
    }
    &__phone__icon {
        margin-right: 0.625rem;
        color: $darkblue;
        font-size: 1.5rem;
    }
    &__email__icon {
        margin-right: 0.625rem;
        color: $darkblue;
    }
}