.footer {
    color: $white;
    &__cv-block {
        background-color: $white;
        color: $darkblue;
        padding: 2rem 0;
        @include media-breakpoint-up(md) {
            padding: 5rem;
        }
    }
    &__certificado {
        margin-top: 10%;
        & h3 {
            color: $blue;
        }
        & p {
            line-height: 1.3;
            color: $text-color-gray;
            font-size: 0.9rem;
        }
    }
    &__redes-sociales-block {
        background-color: $darkblue;
        padding: 1rem;
        .fa {
            margin-right: 20px;
            margin-left: 20px;
            font-size: 1.5em;
        }
        &__iconos {
            text-align: center;
            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }
        &__brand {
            color: $text-color-gray;
            font-size: 0.9rem;
            padding-top: 0.8rem;
            text-align: center;
            @include media-breakpoint-up(md) {
                padding-top: 0;
                text-align: right;
            }
            a {
                color: $white;
            }
        }
    }
}