.footer {
    color: $white;
    margin-top: 3rem;
    &__cv-block {
        background-color: $lightblue;
        padding: 5rem;
    }
    &__redes-sociales-block {
        background-color: $darkblue;
        padding: 1rem;
    }
}