.header {
    &__navbar {
        background: $nav-bar;
        border-bottom: 0.5px solid $white50;
        .navbar-brand img {
            height: 64px;
            @include media-breakpoint-up(md) {
                height: 90px;
            }
        }
    }
    &__menu.navbar-collapse {
        display: grid !important;
        justify-items: end;
        a {
            color: $blue!important;
            text-transform: uppercase;
            font-family: $heading-font-family;
            font-size: 14px;
            font-weight: 600;
            transition: color 0.5s ease;
            &:hover {
                color: $text-color!important;
            }
        }
    }
}