.home {
    &__featured {
        background-image: url(../images/bg-home-block1.png);
        background-size: cover;
        height: 100vh;
        padding: 12rem 15%;
        &__title {
            color: $home__featured__color--md;
        }
        &__subtitle-block {
            text-align: right;
            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }
        &__subtitle {
            color: $home__featured__color;
            margin-bottom: 10px;
            @include media-breakpoint-up(md) {
                color: $home__featured__color--md;
            }
        }
    }
    &__institucional {
        @include linearGradient($color1, $color2);
        padding: 2rem;
        @include media-breakpoint-up(md) {
            @include linearGradientWithImage($color1, $color2, '../images/bg-home-block2.png');
            background-position-x: calc(50% + 530px), 0;
            background-repeat: no-repeat;
            height: 100vh;
            padding: 12rem 4rem;
        }
        & .text-right div{
            padding-right: 3rem;
            padding-left: 3rem;
            margin-bottom: 10px;
        }
        &__cta {
            margin-top: 2rem;
            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }
    }
    &__courses {
        @include linearGradient($color3, $color4);
        padding: 2rem 0;
        @include media-breakpoint-up(md) {
            height: 100vh;
            padding: 14rem 4rem;
        }
        @include media-breakpoint-up(lg) {
            height: 100vh;
            padding: 8rem 4rem;
        }
        &__card-deck {
            margin: 0 auto;
        }
        &__course {
            background-color: transparent;
            color: $darkblue;
            text-align: center;
            align-items: center;
            // padding-left: 1%;
            // padding-right: 1%;
            // padding-bottom: 2rem;
            border: 0px;
            @include media-breakpoint-up(md) {
                // padding-bottom: 0;
            }
            &__image {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
            & .card-text {
                display: none;
                @include media-breakpoint-up(md) {
                    display: block;
                }
            }
            & .card-footer {
                background-color: transparent;
                border-top: none;
            }
        }
    }
}