.home {
    &__featured {
        background-size: cover;
        color: $blue;
        padding-left: 15%!important;
        padding-right: 15%!important;
    }
    &__institucional {
        @include linearGradient($color1, $color2);
        @include media-breakpoint-up(md) {
            @include linearGradientWithImage($color1, $color2, '../images/bg-home-block2.png');
            background-position-x: calc(50% + 530px), 0;
            background-repeat: no-repeat;
        }
    }
    &__courses {
        @include linearGradient($color3, $color4);
        .card {
            background-color: transparent;
            color: $white;
            text-align: center;
            align-items: center;
            padding-left: 5%;
            padding-right: 5%;
            border: 0px;
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}