.page-template-institucional {
    background-color: $white;
    padding-top: 200px;
    .flex-column {
        background-color: none!important;
        a {
            text-align: right;
            font-family: $heading-font-family;
            font-weight: 600;
            color: $blue50;
            &:hover{
                color: $blue!important;
                font-weight: 900;
                border-bottom: 1px solid $blue;
            }
        }
    }

    .nav-pills {
        .nav-link {
            @include border-radius(0px!important);
        }
      
        .nav-link.active,
        .show > .nav-link {
            color: $blue!important;
            background-color: #fff!important;
            font-weight: 900;
            border-bottom: 1px solid $blue;
        }
      }
}