.cv-card {
    padding: 25px;
    border: 1px solid #ccc;
    &__logo {
        padding: 3rem 5rem;;
    }
    &__text {
        padding: .7rem 3rem;
        line-height: 1.3;
        color: $text-color-gray;
    }
}