.institucional {
    min-height: 95vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /*.nav-link {
        @include border-radius(0px!important);
    }*/
    
    @include media-breakpoint-up(md) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    &__banner { 
        background-image: url(../images/banner-inst.png);
        text-align: center;
        color: $white;
        padding: 20px 0px;
        margin: 20px 0px;
        h2 { 
            font-weight: 300; 
        }
    }
    &__items__titles {
        // background-color: none!important;
        .nav-link.active,
        .show>.nav-link {
            color: $blue!important;
            background-color: #fff!important;
            font-weight: 900;
            border-bottom: 2px solid $blue;
        }
        .nav-link.active:before {
            font-family: 'fontawesome';
            content: "\f054";
            color: $lightblue;
            padding-right: 8px;
        }
    }
    &__item {
        &__title {
            text-align: right;
            font-family: $heading-font-family;
            font-weight: 600;
            color: $blue50;
            &:hover {
                color: $blue;
                font-weight: 900;
                border-bottom: 1px solid $blue;
            }
        }
        .nav-link{
            color: #ccc;
            background-color: #fff!important;
            border: 0.5px solid #ccc;
            @include border-radius(50px);
            padding: 2px 15px 2px 0px;
            font-size: .7rem;
        }        
        .nav-link.active, .show>.nav-link {
                color: $lightblue!important;
                background-color: #fff!important;
                border: 1px solid $lightblue;
                @include border-radius(50px);
                padding: 2px 15px 2px 0px;
                font-size: .7rem;
            }
            .nav-link.active:before {
                font-family: 'fontawesome';
                content: "\f111";
                color: $lightblue;
                padding-right: 4px;
                font-size: .7rem;
            }
    }
    .tab-content {
        margin: 0.5rem;
        line-height: 1.6em;
        font-size: 1em;
        @include media-breakpoint-up(md) {
            text-align: justify;
            text-indent: 2rem;
        }
    }
}