.login {
    background-color: $violet;
    h1 a,
    h1 a:focus,
    h1 a:hover,
    h1 a:visited {
        background-image: none;
        font-family: $heading-font-family;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 2rem;
        color: $white;
        color: $lightblue;
        height: auto;
        line-height: 3rem;
        margin: 0;
        position: relative;
        width: 100%;
        text-indent: 0;
        // text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
    }
    &__subtitle {
        bottom: -0.5rem;
        color: rgba(74, 118, 90, 0.8);
        font-size: 0.8rem;
        position: absolute;
    }
}
.woocommerce-form-login,
.sensei{
    background: none;
}
.col-1 {
    max-width: none;
}
