$black: #000;
$blue: #214478;
$blue50: rgba(33, 68, 120, 0.5);
$darkblue: #091629;
$lightblue: #9EC3FF;
$orange: #EBAF2D;
$violet: #290031;
$white: #fff;
$white50: rgba(255, 255, 255, 0.5);
$nav-bar:#b6b3b354;
$green:#339966;
$grey-texto:#ccc;
//gradientes
$color1: #d3ccef;
$color2: #e9e4ff;
$color3: #f2fcfe;
$color4: #A7BFE8;
//text
$text-color: #000;
$text-color-gray: #7e7e7e;
// items
$googlemap--border: $white50;
$home__featured__color:$white;
$home__featured__color--md:$blue;