$black: #000;
$blue: #214478;
$blue50: rgba(33, 68, 120, 0.5);
$darkblue: #091629;
$lightblue: #9EC3FF;
$orange: #EBAF2D;
$violet: #290031;
$white: #fff;
$white50: rgba(255, 255, 255, 0.5);
$color1: #d3ccef;
$color2: #e9e4ff;
$color3: #734b6d;
$color4: #42275a;