body {
    background-color: $white;
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    line-height: 1.6;
    .h1, .h2, .h3, .h4, .h5, .h6 { 
        font-family: $heading-font-family; 
        font-weight: $heading-font-weight; 
    }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
        font-family: $heading-font-family; 
        font-weight: $heading-font-weight; 
    }
    .h1, .h2 { 
        line-height: 1.1; 
    }
    .h3, .h4 { 
        line-height: 1.3; 
    }
    .h1 { 
        font-size: 400%; letter-spacing: -2px; 
    }
    .h2 { 
        font-size: 250%; letter-spacing: -1px; 
    }
    .h3 { 
        font-size: 200%; 
    }
    .h4 { 
        font-size: 180%; 
    }
    .h5 { 
        font-size: 130%; 
    }
    .italic { 
        font-style: italic; 
    }
    .bold   { 
        font-weight: 700; 
    }
    .block-margins { 
        margin: 1em 0; 
    }
    .unordered-list { 
        list-style-type: disc; 
    }
    .ordered-list { 
        list-style: decimal; 
    }
    a {
        color: $blue;
        transition: color 0.5s ease;
        &:hover {
            color: $yellow;
            text-decoration: none;
        }
    }
    #content .col-full {
        margin-top: 120px;
    }
}

.sensei p.sensei-message.info, .sensei div.sensei-message.info, .course-container p.sensei-message.info, .course-container div.sensei-message.info, .course p.sensei-message.info, .course div.sensei-message.info, .lesson p.sensei-message.info, .lesson div.sensei-message.info, .quiz p.sensei-message.info, .quiz div.sensei-message.info, .learner-info p.sensei-message.info, .learner-info div.sensei-message.info,
.sensei p.sensei-message.alert, .sensei div.sensei-message.alert, .course-container p.sensei-message.alert, .course-container div.sensei-message.alert, .course p.sensei-message.alert, .course div.sensei-message.alert, .lesson p.sensei-message.alert, .lesson div.sensei-message.alert, .quiz p.sensei-message.alert, .quiz div.sensei-message.alert, .learner-info p.sensei-message.alert, .learner-info div.sensei-message.alert, .alert {
    @include  border-radius(0px);
}
.mensaje-woocommerce {
    margin-top: 130px;
    margin-bottom: -80px;
}