/*gradient institucional*/

@mixin linearGradient($color1, $color2) {
    background-color: $color1;
    background-image: -moz-linear-gradient(to right, $color1, $color2);
    background-image: -webkit-gradient(to right, color-stop($color1), color-stop($color2));
    background-image: -webkit-linear-gradient(to right, $color1, $color2);
    background-image: -o-linear-gradient(to right, $color1, $color2);
    background-image: linear-gradient(to right, $color1, $color2);
}

@mixin linearGradientWithImage($color1, $color2, $image) {
    background-color: $color1;
    background-image: url($image), -moz-linear-gradient(to right, $color1, $color2);
    background-image: url($image), -webkit-gradient(to right, color-stop($color1), color-stop($color2));
    background-image: url($image), -webkit-linear-gradient(to right, $color1, $color2);
    background-image: url($image), -o-linear-gradient(to right, $color1, $color2);
    background-image: url($image), linear-gradient(to right, $color1, $color2);
}